<style>
  .backgroun-image {
    background-image: url("../assets/wallpaper.jpg");
    background-size: 100%;
    background-size: cover;
  }
</style>

<main class="w-100 h-screen backgroun-image">
  <div class="w-100 h-screen flex flex-col items-center content-center">
    <div
      class="w-10/12 flex flex-col flex-grow items-center content-center"
      style="height: 50vh"
    >
      <div class="w-full h-full flex flex-col items-center justify-center">
        <div class="fixed top-0">
          <button
            mat-raised-button
            class="m-1"
            style="background-color: #ff3e49"
            (click)="changeView('decks')"
          >
            Meus Baralhos
          </button>
          <button
            mat-raised-button
            class="m-1"
            style="background-color: #a1d7ff"
            (click)="changeView('form')"
          >
            Adicionar Baralho
          </button>
        </div>
        <ng-template [ngIf]="view === 'form'">
          <formdeck-component class="h-2/5" [pokemons]="pokemons" />
        </ng-template>
        <ng-template [ngIf]="view === 'decks'">
          <decks-component />
        </ng-template>
      </div>
    </div>
  </div>
</main>

<router-outlet />
